<div class="container">
  <div class="row">
    <h1>Edit Tournament</h1>
    <%= render 'shared/errors', obj: @tournament if @tournament.errors.present? %>
    <%= render partial: 'form' %>

	  <%= link_to 'Back', tournaments_path %>
  </div>
</div>

<script type="text/javascript">
function removeRow(item) {
  $(item).parents('tr').remove();
}

function addRow(templateRow, tableBody) {
  var row = templateRow.clone();
  $(":input", row).attr("disabled", false);
  row.removeAttr('id');
  tableBody.append(row);
  row.show();
}
</script>