<div id = "blue">
	<div class="container">
		<div class = "row">
			<h3>About Us</h3>
		</div>
	</div>
</div>

<div class = "container centered">
	<h3>What is Golfly?</h3>
	<p>
		Golfy is a web application that allow golf enthusiasts to organize and/or join local golf tournaments with ease!
	</p>
	<hr>
	<h3>What does Golfly do?</h3>
	<p>
		If you are an organizer:<br><br>

		You can set up tournaments!<br>
		You can manage your tournaments!<br>
		You can set up online payment system! <br>
		You can access real-time imformation about the tournaments!<br>
		You can market your tournaments!<br><br>

		If you are a golfer:<br><br>
		You can find tournaments that you like here!<br>
		You can register for tournaments!<br>
		You can pay for tournaments!<br>
		You can access real-time imformation about the tournaments!<br>
		You can check-in on the day of the tournaments! <br>
	</p>
</div>