<%= form_for @contact_player, url: contact_path do |f| %>
  <fieldset>

    <div class="field">
      <%= f.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= f.submit "Send" %>
    </div>
  </fieldset>
<% end %>